.caixa_width{
    /* louco */
    border-width: 2px;
    border-style: solid;
    border-color: red;
/* varios valores na mesma propriedade */
    border: 2px solid red;

    width: 200px;
}

.imagem_width{
    width: 400px;
}

.caixa_height{
    border: 1px dashed greenyellow;

    height:100px ;
    width: 100px;
}